In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:

root_path = 'gdrive/My Drive/hive_project/'

In [0]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [15]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/My Drive/hive_project/

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/My Drive/hive_project

In [0]:
#getting the data from the 2015,16,17 dataset into a df
data_2015 = pd.read_csv("2015.csv")
data_2016 = pd.read_csv("2016.csv")
data_2017 = pd.read_csv("2017.csv")

In [188]:
data_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [189]:
data2016.head()

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463
2      Iceland  Western Europe  ...     0.47678            2.83137
3       Norway  Western Europe  ...     0.37895            2.66465
4      Finland  Western Europe  ...     0.25492            2.82596

[5 rows x 13 columns]

In [190]:
data_2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [0]:
#as the questions only involves the country ,happiness rank ,happiness score and region we'll exclude the other attributes
columns_unwanted_2015= ['Happiness Rank','Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual']
columns_unwanted_2016 = ['Happiness Rank','Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual']
columns_unwanted_2017 = ['Happiness.Rank','Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual']

In [0]:
dnew_2015 = data_2015.drop(columns_unwanted_2015, axis=1)

In [0]:
dnew_2016 = data_2016.drop(columns_unwanted_2016, axis=1)

In [0]:
 
dnew_2017 = data_2017.drop(columns_unwanted_2017, axis=1)

In [195]:
dnew_2015.head()# the new datafrrames with only the required feilds

       Country          Region  Happiness Score
0  Switzerland  Western Europe            7.587
1      Iceland  Western Europe            7.561
2      Denmark  Western Europe            7.527
3       Norway  Western Europe            7.522
4       Canada   North America            7.427

In [0]:
#preparing the dataframes for merging into a single dataframe
dnew_2015 = dnew_2015.rename(columns={'Happiness Score':'HappinessScore_2015'})
dnew_2016 = dnew_2016.rename(columns={'Happiness Score':'HappinessScore_2016'})
dnew_2017 = dnew_2017.rename(columns={'Happiness.Score':'HappinessScore_2017'})

In [0]:
#merging 2015 and 2016 data first 
res1 = pd.merge(dnew_2015, dnew_2016)

In [198]:
res1.head()

       Country          Region  HappinessScore_2015  HappinessScore_2016
0  Switzerland  Western Europe                7.587                7.509
1      Iceland  Western Europe                7.561                7.501
2      Denmark  Western Europe                7.527                7.526
3       Norway  Western Europe                7.522                7.498
4       Canada   North America                7.427                7.404

In [0]:
#merging the resultant data with 2017
happy=pd.merge(res1,dnew_2017)

In [200]:
#the dataset we require is created 
happy.head()

       Country          Region  ...  HappinessScore_2016  HappinessScore_2017
0  Switzerland  Western Europe  ...                7.509                7.494
1      Iceland  Western Europe  ...                7.501                7.504
2      Denmark  Western Europe  ...                7.526                7.522
3       Norway  Western Europe  ...                7.498                7.537
4       Canada   North America  ...                7.404                7.316

[5 rows x 5 columns]

In [0]:
## 1. Countries with a happiness score of less than 5.0
## as this is a data set which has varying values of happiness scores for the three different years, the 
## output with countries less than 5 for each coressponding year
#2015
unhap2015=happy[happy['HappinessScore_2015']<5]
ans1_15=unhap2015['Country']
unhap2016=happy[happy['HappinessScore_2016']<5]
ans1_16=unhap2016['Country']
unhap2017=happy[happy['HappinessScore_2017']<5]
ans1_17=unhap2017['Country']

In [202]:
#countries with happiness index less than 5 in 2015
ans1_15

88                     Albania
89      Bosnia and Herzegovina
90          Dominican Republic
91                    Mongolia
92                      Greece
93                     Lebanon
94                     Hungary
95                    Honduras
96                  Tajikistan
97                     Tunisia
98     Palestinian Territories
99                  Bangladesh
100                       Iran
101                    Ukraine
102                       Iraq
103               South Africa
104                      Ghana
105                   Zimbabwe
106                    Liberia
107                      India
108                      Sudan
109                      Haiti
110           Congo (Kinshasa)
111                      Nepal
112                   Ethiopia
113               Sierra Leone
114                 Mauritania
115                      Kenya
116                    Armenia
117                   Botswana
118                    Myanmar
119                    Georgia
120                     Malawi
121                  Sri Lanka
122                   Cameroon
123                   Bulgaria
124                      Egypt
125                      Yemen
126                     Angola
127                       Mali
128        Congo (Brazzaville)
129                     Uganda
130                    Senegal
131                      Gabon
132                      Niger
133                   Cambodia
134                   Tanzania
135                 Madagascar
136                       Chad
137                     Guinea
138                Ivory Coast
139               Burkina Faso
140                Afghanistan
141                     Rwanda
142                      Benin
143                      Syria
144                    Burundi
145                       Togo
Name: Country, dtype: object

In [203]:
#countries with happiness index less than 5 in 2016
ans1_16

73                     Nigeria
80                      Zambia
88                     Albania
91                    Mongolia
95                    Honduras
96                  Tajikistan
98     Palestinian Territories
99                  Bangladesh
100                       Iran
101                    Ukraine
102                       Iraq
103               South Africa
104                      Ghana
105                   Zimbabwe
106                    Liberia
107                      India
108                      Sudan
109                      Haiti
110           Congo (Kinshasa)
111                      Nepal
112                   Ethiopia
113               Sierra Leone
114                 Mauritania
115                      Kenya
116                    Armenia
117                   Botswana
118                    Myanmar
119                    Georgia
120                     Malawi
121                  Sri Lanka
122                   Cameroon
123                   Bulgaria
124                      Egypt
125                      Yemen
126                     Angola
127                       Mali
128        Congo (Brazzaville)
129                     Uganda
130                    Senegal
131                      Gabon
132                      Niger
133                   Cambodia
134                   Tanzania
135                 Madagascar
136                       Chad
137                     Guinea
138                Ivory Coast
139               Burkina Faso
140                Afghanistan
141                     Rwanda
142                      Benin
143                      Syria
144                    Burundi
145                       Togo
Name: Country, dtype: object

In [204]:
#countries with happiness index less than 5 in 2017
ans1_17

80                      Zambia
88                     Albania
91                    Mongolia
97                     Tunisia
98     Palestinian Territories
99                  Bangladesh
100                       Iran
101                    Ukraine
102                       Iraq
103               South Africa
104                      Ghana
105                   Zimbabwe
106                    Liberia
107                      India
108                      Sudan
109                      Haiti
110           Congo (Kinshasa)
111                      Nepal
112                   Ethiopia
113               Sierra Leone
114                 Mauritania
115                      Kenya
116                    Armenia
117                   Botswana
118                    Myanmar
119                    Georgia
120                     Malawi
121                  Sri Lanka
122                   Cameroon
123                   Bulgaria
124                      Egypt
125                      Yemen
126                     Angola
127                       Mali
128        Congo (Brazzaville)
129                     Uganda
130                    Senegal
131                      Gabon
132                      Niger
133                   Cambodia
134                   Tanzania
135                 Madagascar
136                       Chad
137                     Guinea
138                Ivory Coast
139               Burkina Faso
140                Afghanistan
141                     Rwanda
142                      Benin
143                      Syria
144                    Burundi
145                       Togo
Name: Country, dtype: object

In [205]:
# 2. Which is the unhappiest country in Sub-Saharan Africa?
# least happiness score in year 2015 = "togo"
ans2_15 = happy.loc[[happy.query('Region=="Sub-Saharan Africa"')['HappinessScore_2015'].idxmin()]]
print(ans2_15)

    Country              Region  ...  HappinessScore_2016  HappinessScore_2017
145    Togo  Sub-Saharan Africa  ...                3.303                3.495

[1 rows x 5 columns]

In [206]:
#least happiness score in year 2016 = "Burundi"
ans2_16 = happy.loc[[happy.query('Region=="Sub-Saharan Africa"')['HappinessScore_2016'].idxmin()]]
print(ans2_16)

     Country              Region  ...  HappinessScore_2016  HappinessScore_2017
144  Burundi  Sub-Saharan Africa  ...                2.905                2.905

[1 rows x 5 columns]

In [218]:
#least happiness score in year 2017 = "Burundi"
ans2_17 = happy.loc[[happy.query('Region=="Sub-Saharan Africa"')['HappinessScore_2017'].idxmin()]]
print(ans2_17)

     Country              Region  ...  HappinessScore_2016  HappinessScore_2017
144  Burundi  Sub-Saharan Africa  ...                2.905                2.905

[1 rows x 5 columns]

In [0]:
#4.4. Countries that became unhappy between 2015 to 2017

In [209]:
hapsad=happy[happy['HappinessScore_2017']<happy['HappinessScore_2015']]
ans_4=hapsad['Country']
ans_4

0      Switzerland
1          Iceland
2          Denmark
4           Canada
6      Netherlands
          ...
126         Angola
134       Tanzania
135     Madagascar
137         Guinea
144        Burundi
Name: Country, Length: 72, dtype: object

In [230]:
#5. Find the country whose happiness decreased by the most amount= "Latin America and Caribbean	"
data=min(happy['HappinessScore_2017']-happy['HappinessScore_2015'])
happy[happy['HappinessScore_2017']-happy['HappinessScore_2015']==data]

      Country  ... HappinessScore_2017
21  Venezuela  ...                5.25

[1 rows x 5 columns]

In [0]:
#2
#Task 2: In the same notebook write the script to download UDF101 and
#bring the training dataset in this format: (Labels can be downloaded
#from here)

import urllib.request
url='https://www.crcv.ucf.edu/data/UCF101/UCF101.rar'
urllib.request.urlretrieve(url, 'UDF101.mp4')